{% extends 'core/base.html' %}
{% load static %}
{% block corecss %}
  {{block.super}}
  <link rel="stylesheet" href="{% static "contact/css/contact.css" %}">
{% endblock corecss %}
{% block main_content %}
  <div class="contact container mt-5">
    <h2 class="text-warning mb-5 border-bottom pb-1">CONTACT US</h2>
    <div class="row text-white mb-5">
      <p class="mx-auto mb-5">Do you have any questions? Please do not hesitate to contact. I will come back to you within a matter of hours to help you.</p>
      <div class="col-sm-9 mb-5">
        <form action="">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Your Name</label>
              <input type="text" class="form-control" id="inputName">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">Your Email</label>
              <input type="email" class="form-control" id="inputEmail" required>
            </div>
            <div class="form-group">
              <label for="inputSubject">Your Subject</label>
              <input type="text" class="form-control" id="inputSubject">
            </div>
            <div class="mb-3">
              <label for="inputTextarea">Your massage</label>
              <textarea name="" id="inputTextarea"  required></textarea>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Send</button>
        </form>
      </div>
      <div class="col-sm-3 text-center">
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt fa-2x icon"></i>
            <p>Pune, Maharashtra, India</p>
          </li>
          <li>
            <i class="fas fa-phone mt-4 fa-2x icon"></i>
            <p>+91 7387818584</p>
          </li>
          <li>
            <i class="fas fa-envelope mt-4 fa-2x icon"></i>
            <p>contact@emali.com</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="#" target="_blank" ><i class="fab fa-twitter icon mx-2"></i></a>
    <a href="#" target="_blank" ><i class="fab fa-facebook-f icon mx-2"></i></a>
    <a href="#" target="_blank" ><i class="fab fa-instagram icon mx-2"></i></a>
    <a href="#" target="_blank" ><i class="fab fa-dribbble icon mx-2"></i></a>
  </div>
{% endblock main_content %}
