{% extends 'core/base.html' %}
{% load static %}
{% block corecss %}
  {{block.super}}
  <link rel="stylesheet" href="{% static "skills/css/skills.css" %}">
{% endblock corecss %}
{% block main_content %}
  <div class="skills mt-5">
    <h2 class="text-warning mb-5 pb-2 border-bottom">Skills</h2>

    <div class="skills-wrapper row text-white">
      <div class="col-sm-5">
        <h4>HTML/CSS</h4>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" style="width:100%;" aria-valuenow="100" ariavaluemin="0" aria-valuemax="100">
            100%
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h4>JavaScript</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%;" aria-valuenow="85" ariavaluemin="0" aria-valuemax="100">
            85%
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h4>React</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%;" aria-valuenow="85" ariavaluemin="0" aria-valuemax="100">
            85%
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h4>Python</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%;" aria-valuenow="70" ariavaluemin="0" aria-valuemax="100">
            70%
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h4>Django</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%;" aria-valuenow="50" ariavaluemin="0" aria-valuemax="100">
            50%
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h4>Git/GitHub</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:50%;" aria-valuenow="50" ariavaluemin="0" aria-valuemax="100">
            50%
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <h4>SQL</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:10%;" aria-valuenow="10" ariavaluemin="0" aria-valuemax="100">
            10%
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock main_content %}
