/** Styling => App Header */
header.header {
  position: sticky;
  top: 0.3rem;
  height: 5.5rem;
  width: 95%;
  max-width: 65rem;
  background-color: var(--theme-dark);
  color: var(--theme-light);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  margin: 0 auto;
  padding: 10px 20px 10px 40px;
  border-radius: 0.5rem;
  box-shadow: 1px 0 2px #cdcdcd;
  z-index: 10;
}

.app-logo {
  height: 5.5rem;
  width: 5.5rem;
}

nav.middle-section {
  display: flex;
  align-items: center;
}

nav.middle-section .nav-link {
  font-size: 1.2rem;
  margin: 0 1rem;
  text-align: center;
}

.right-section {
  display: flex;
  align-items: center;
}

#theme-Btn {
  cursor: pointer;
  background-color: #081343;
  font-size: 1.2rem;
}

.right-section .profile-logo {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin-left: 2.5rem;
}



/** Responsive Design */
@media screen and (max-width:770px) {
  header.header {
    padding: 10px 15px;
    border-radius: 0.4rem;
    height: 5rem;
  }

  .app-logo {
    height: 4rem;
    width: 4rem;
  }
  
  nav.middle-section .nav-link {
    font-size: 1.2rem;
    margin: 0 1rem;
  }

  .right-section .profile-logo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
  }
}


@media screen and (max-width:640px) {
  .app-logo {
    height: 3.5rem;
    width: 3.5rem;
  }
  
  nav.middle-section .nav-link {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}


@media screen and (max-width:540px) {
  .app-logo {
    height: 3rem;
    width: 3rem;
  }
  
  nav.middle-section .nav-link {
    font-size: 0.8rem;
    margin: 0 0.5rem;
  }

  .right-section .profile-logo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    margin-left: 1.2rem;
  }
}


@media screen and (max-width:438px) {
  header.header {
    border-radius: 0.4rem;
    height: 4rem;
    font-size: 0.8rem;
    padding: 10px 6px;
  }

  .app-logo {
    height: 2.2rem;
    width: 2.2rem;
  }
  
  nav.middle-section .nav-link {
    font-size: 0.6rem;
    margin: 0 0.5rem;
  }

  .right-section .profile-logo {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
  }
}


@media screen and (max-width:321px) {
  header.header {
    font-size: 0.8rem;
    padding: 10px 6px;
  }

  .app-logo {
    height: 2rem;
    width: 2rem;
  }
}


