{% extends "blog/base.html" %}

{% block body  %}
  {% include "blog/nav.html" %}
  <h1>Jay Jay Vitthal Rakhumai</h1>
  <div class='aboutus-wrapper'>
    <h2> This is All About Us:</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis maiores quos ab molestias voluptatum totam libero illo rerum ipsum animi?</p>
    <p> Molestias voluptatibus repellat sit nihil ex quae laudantium, perspiciatis enim eius quod a, doloribus voluptatum repudiandae natus voluptatem? Error qui quas veniam nobis, molestiae eligendi necessitatibus voluptatibus dignissimos. Rem nisi, temporibus in, distinctio, laboriosam laborum libero obcaecati fugiat facere magni sunt sit.</p>
  </div>
{% endblock body  %}