.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100vw;
}
.container-fluid {
  min-height: 100%;
}
.row {
  display: flex;
}
.profile_img {
  width: 100px;
  height: 100px;
}
.sidebar {
  border-right: 1px solid #ba8201e4;
  min-width: 150px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
.nav-link:hover {
  background-color: #fcce27;
  color: #000;
}
