{% extends "core/base.html" %}

{% block main %}
  <main class="main-content">
    <section class="add-student">
      <h2>Create your personal/school account</h2>
      <form action="" method='POST' novalidate>
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
          <div class='input-field-wrapper'>
            {{field.label_tag}}
            <span>{{field.errors|striptags}}</span>
            {{field}}
          </div>
        {% endfor %}
        <button class='add-button login-button' type="submit">Signup</button>
        <hr>
        <p>Already have an account? <a class='option-link' href="{% url 'user_login' %}">Login Here</a></p>
        
      </form>
    </section>
  </main>
{% endblock main %}


{% comment %} {% extends "base/base.html" %} {% endcomment %}

{% comment %} 
{% block main %}
 <div class="form-container">
    <h2>Create your account</h2>
    <form action="" method="POST" novalidate>
      {% include 'base/form.html' with p='Signup' %}
      <input class="form-submit-btn signup-btn" type="submit" value="Signup">
      <hr>
      <p>Already have an account? <a class='option-link' href="{% url 'login' %}">Login Here</a></p>
    </form>

  </div>
{% endblock main %} {% endcomment %}